.inner {
    text-align: center;
}

.title {
    font-size: 70px;
    margin-top: 50px;
    position: relative;
}

.circle_parent {
    text-align: center;
    margin-top: 400px;
}
.circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: skyblue;
    margin: 20px;
}

