.inner {
    text-align: center;
}

.title {
    font-size: 70px;
    margin-top: 50px;
    position: relative;
}

.content_title {
    font-size: 30px;
}

.circle_parent {
    text-align: center;
    margin-top: 400px;
}
.circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: skyblue;
    margin: 20px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;}
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/7);
    border-bottom: 3px solid #2F4F4F;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
    height:110vh;
  }
  
/*選択されているタブのコンテンツのみを表示*/
  #calendar:checked ~ #home_content,
  #diary:checked ~ #htops_content {
    display: block;
  }

/*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #2F4F4F;
    color: #fff;
  }